
.queue-head-display{
    -fx-min-height: 80;
    -fx-min-width: 100;
    -fx-max-height: 80;
    -fx-max-width: 100;
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-wrap-text: true;

}

.queue-display{
    /*-fx-pref-height: 50;*/
    /*-fx-pref-width: 50;*/
    /*-fx-background-color: grey;*/
    /*-fx-text-fill: white;*/
    -fx-alignment: top-center;
    -fx-font: 15 calibri;
}

.task-display{
    -fx-border-insets: 4px 0 0 0;
    -fx-background-insets: 4px 0 0 0;
    -fx-min-height: 60;
    -fx-min-width: 80;
    -fx-max-height: 60;
    -fx-max-width: 80;
    -fx-background-color: #b5b9ba;
    -fx-text-fill: white;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.inputs {
    -fx-background-color: #3d3d3d;
    -fx-text-fill: white;
}


